.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(0, 93%, 49%);
  background-image: url(https://cdna.artstation.com/p/assets/images/images/015/290/424/large/lazuardy-mohammx-wrath-shield-2.jpg?1547803083://c.wallhere.com/photos/82/fc/Weathering_With_You_Makoto_Shinkai_anime_blue_sky_clouds-1531725.jpg!d);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
